* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "digital-7";
  src: url("src/fonts/digital-7-mono.ttf");
}

html {
  height: 100vh;
  overflow-x: hidden;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

#history {
  position: absolute;
  right: 0;
  width: 300px;
}

@media (max-width: 1000px) {
  #history {
    display: none;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.calculator {
  padding: 1em;
}

header {
  padding-top: 1em;
}

h1 {
  font-family: "digital-7";
  font-size: 3em;
  padding: 0.5em;
  line-height: 1em;
  text-align: center;
}

footer {
  padding-bottom: 1em;
  font-family: "digital-7";
  font-size: 1.5em;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
  margin-bottom: 1em;
  height: 100px;
}

#display-top,
#display-bottom {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: xx-large;
  font-family: "digital-7";
}

.number-pad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8em;
}

.number-pad button {
  margin: 0;
  font-family: "digital-7";
  font-size: x-large;
}
