* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "digital-7";
  src: url("./fonts/digital-7-mono.ttf");
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

main {
  width: 500px;
  height: 600px;
}

header {
  padding-top: 2em;
}

h1 {
  font-family: "digital-7";
  font-size: 3em;
}

footer {
  padding-bottom: 2em;
  font-family: "digital-7";
  font-size: 1.5em;
}

.display {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 450px;
  height: 100px;
}

#display-top,
#display-bottom {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 50px;
  width: 450px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: xx-large;
  font-family: "digital-7";
}

#display-bottom {
  font-size: 3em;
}

.number-pad {
  width: 450px;
  height: 450px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.number-pad button {
  margin: 0;
  font-family: "digital-7";
  font-size: x-large;
}
