* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

main {
  width: 500px;
  height: 600px;
}

header {
  padding-top: 2em;
}

footer {
  padding-bottom: 2em;
}
